{% if site.show_projects %}
  <h1 class="title"><span>{{site.projects_title}}</span></h1>
  <div class="projects-wrapper">
    {% for project in site.data.projects %}
      <div class="project neumorphism-card" data-aos="zoom-in-down" data-aos-duration="50" data-aos-delay="0">
        <div class="name-link-wrapper">
          <h3>{{project.name}}</h3>
        </div>
        <p class="project-desc">{{project.descr}}</p>
        {% if project.demo %}
          <a class="highlight-link" href="{{project.demo}}" target="_blank" rel="noreferrer">
            Demo
          </a>
        {% endif %}
        {% if project.tags %}
          <div class="tag-wrapper">
            {% for tag in project.tags %}
              <span class="tag neumorphism-card">{{tag.tag}}</span>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endif %}