<h1 class="title"><span>Licenses & certifications</span></h1>
<p class="subtitle">
    Credential and Verification available at 
    <a class="highlight-link" href="https://www.linkedin.com/in/rudramanisingha/details/certifications/" target="_blank" rel="noreferrer">
      LinkedIn
    </a>.
</p>
<ul>
    <li>
        AI for Medicine Specialization - deeplearning.ai
    </li>
    <li>
        Machine Learning with TensorFlow on Google Cloud Platform Specialization - Google Cloud
    </li>
    <li>
        Reinforcement Learning Specialization - University of Alberta, Alberta Machine Intelligence Institute
    </li>
    <li>
        TensorFlow: Data and Deployment Specialization - deeplearning.ai
    </li>
    <li>
        TensorFlow in Practice Specialization - deeplearning.ai
    </li>
    <li>
        AWS Fundamentals Specialization - Amazon Web Services
    </li>
    <li>
        Applied Data Science with Python Specialization - University of Michigan
    </li>
    <li>
        Big Data Specialization - University of California San Diego
    </li>
    <li>
        Deep Learning Specialization - deeplearning.ai
    </li>
    <li>
        Full-Stack Web Development with React Specialization - The Hong Kong University of Science and Technology
    </li>
    <li>
        Microsoft Certified Office Specialist
    </li>
</ul>