<h1 class="title">{{site.skills_title}}</h1>

<div id="skills">
  <input type="radio" id="all" name="filter" checked />
  <label class="filter-button neumorphism-button" for="all">All</label>
  <input type="radio" id="language" name="filter" />
  <label class="filter-button neumorphism-button" for="language">Languages</label>
  <input type="radio" id="framework" name="filter" />
  <label class="filter-button neumorphism-button" for="framework">Framework</label>
  <input type="radio" id="tool" name="filter" />
  <label class="filter-button neumorphism-button" for="tool">Tools</label>
  <input type="radio" id="creative" name="filter" />
  <label class="filter-button neumorphism-button" for="tool">Creative</label>

  <div id ="skill-divs-holder" class="tag-wrapper" data-aos="zoom-in" data-aos-duration="200" data-aos-delay="0">
    <!-- data-aos="zoom-in" -->
    {% for language in site.data.skills-languages %}
      <span skill-type="language" class="tag neumorphism-card">{{language.name}}</span>
    {% endfor %}
    {% for framework in site.data.skills-frameworks %}
      <span skill-type="framework" class="tag neumorphism-card">{{framework.name}}</span>
    {% endfor %}
    {% for tool in site.data.skills-tools %}
      <span skill-type="tool" class="tag neumorphism-card">{{tool.name}}</span>
    {% endfor %}

    {% for creative in site.data.skills-creative %}
    <span skill-type="creative" class="tag neumorphism-card">{{creative.name}}</span>
    {% endfor %}

  </div>
</div>
