<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">

  <link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/favicon/apple-touch-icon.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/favicon/favicon-32x32.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/favicon/favicon-16x16.png" | prepend: site.baseurl }}">
  <link rel="manifest" href="{{ "/assets/favicon/site.webmanifest" | prepend: site.baseurl }}">

  <link rel="stylesheet" href="{{ "/assets/css/main.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/css/vendors.min.css" | prepend: site.baseurl }}">

  <script src="{{ "/assets/js/vendors.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/assets/js/app_disp.js" | prepend: site.baseurl }}"></script>
</head>

<body>
  <div class="layout">
    <section class="card neumorphism-card-big">
      <h1 class="title"><span>
        <a class="highlight-link" href="https://www.rudramanisingha.com/" rel="noreferrer" st> ⦭ </a>
        {{ page.title }}</span></h1>
    </section>
    <section class="card neumorphism-card-big">
      {% if page.type == "paper" %}
        {% include disp_paper.html %}
      {% endif %}
      {% if page.type == "patent" %}
        {% include disp_patents.html %}
      {% endif %}
    </section>
  </div>
  {% include footer.html %}
</body>
</html>
