<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">

  <link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/favicon/apple-touch-icon.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/favicon/favicon-32x32.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/favicon/favicon-16x16.png" | prepend: site.baseurl }}">
  <link rel="manifest" href="{{ "/assets/favicon/site.webmanifest" | prepend: site.baseurl }}">

  <link rel="stylesheet" href="{{ "/assets/css/main.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/css/vendors.min.css" | prepend: site.baseurl }}">

  <script src="{{ "/assets/js/vendors.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/assets/js/app_disp.js" | prepend: site.baseurl }}"></script>
</head>

<body>
  <div class="layout">
    <section class="card neumorphism-card-big">
      <h1 class="title"><span>
        <a class="highlight-link" href="{{ site.baseurl }}" rel="noreferrer" st> ⦭ </a>
        Research Papers</span></h1>
    </section>
    <section class="card neumorphism-card-big">
      <div class="projects-wrapper">
        {% for papers in site.data.papers %}
          <div class="project neumorphism-card" data-aos="zoom-in-down" data-aos-duration="200" data-aos-delay="0">
            <div class="name-link-wrapper">
              <h3>{{papers.name}}</h3>
            </div>
            <p class="project-desc">{{papers.descr}}</p>
            {% if papers.demo %}
              <a class="highlight-link" href="{{papers.demo}}" target="_blank" rel="noreferrer">
                Preprint + Acceptance
              </a>
            {% endif %}
            {% if papers.tags %}
              <div class="tag-wrapper">
                {% for tag in papers.tags %}
                  <span class="tag neumorphism-card">{{tag.tag}}</span>
                {% endfor %}
              </div>
            {% endif %}
          </div>
      {% endfor %}
      </div>
    </section>
  </div>
</body>
</html>
